body {
	text-align: center;
}

div {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
	padding: 0;
}

#header {
	background-color: #03A3EA;
	color: white;
}

#footer {
	position: absolute;
	bottom: 1%;
	left: 20%;
	right: 20%;
	text-align: center;
}

table {
	margin: auto;
	width: 90%;
}

tr {
	text-align: left;
	padding: 5px;
}

td {
	
}

.article_title {
	font-size: 14px;
}

.last_updated {
	font-size: 10px;
	text-align: right;
}

span {
	padding: 10px;
}